:root {
    --color1: #52339A;
    --color2: #05B1B1;
    --button-active: #08dfdf;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    position: static;
}

.container a {
    text-decoration: none;
    color: var(--color1);
}

.container .item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 10px;
    gap: 10px;
    color: black;
}

.container .item .data {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    color: black;
}

.container .item .actions {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.container .item .actions a{
    display: block;
    background-color: var(--color1);
    color: white;
    text-align: center;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition: .2s;
}

.container .item .actions a:hover{
    background-color: var(--color2);
}
.container .actions form {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: static;
}

.container .actions form button {
    background-color: red;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
    transition: .1s;
    font-size: 1.25rem;
}

.container .actions form button:hover {
    background-color: darkred;
}

.container form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.container form .input_div {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
}

.container form .input_div select {
    background: none;
    border: 1px solid var(--color1);
    font-size: 1.25rem;
    color: var(--color2);
    padding: 4px;
}

.container form .input_div input {
    height: 30px;
    border: 1px solid var(--color1);
    background: none;
    color: var(--color1);
    font-size: 1rem;
    padding-left: 6px;
    width: 300px;
    font-size: 1.25rem;
}

.container form .input_div input:focus {
    border: 1px solid var(--color1);
}

.container form>input {
    background-color: var(--color1);
    border: none;
    color: white;
    height: 40px;
    font-size: 1.25rem;
    transition: .2s;
    cursor: pointer;
}

.container form>input:hover {
    background-color: var(--button-active);
}

form>input {
    background-color: var(--color1);
    border: none;
    color: white;
    font-size: 1.25rem;
    transition: .2s;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
}

form>input:hover {
    background-color: var(--button-active);
}

.danger {
    background-color: red;
}

.danger:hover {
    background-color: rgb(253, 93, 93);
}