:root {
    --color1: #52339A;
    --color2: #05B1B1;
    --button-active: #08dfdf;
}

.product {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    padding: 10px 10px;
    justify-content: center;
    margin-top: 20px;
}

.product .actions {
    flex-grow: 1;
    min-width: 400px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    padding: 10px;
}

.product .media {
    width: 470px;
    height: 470px;
}

.product .actions .cart-actions {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
}

.product .actions .cart-actions .price {
    font-size: 1.25rem;
}

.product .actions .cart-actions .add-to-favorite {
    background-color: var(--color1);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
    transition: .1s;
    font-size: 1.25rem;
}

.product .actions .cart-actions .add-to-favorite:hover {
    background-color: var(--color2);
}

.product .actions .cart-actions .add-to-cart {
    background-color: var(--color2);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
    transition: .1s;
    font-size: 1.25rem;
}

.product .actions .cart-actions .add-to-cart:hover {
    background-color: var(--color1);
}

.product .data {
    width: 100%;
}

.comment-media-div {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
}

.comment-media-file {}

.comment-media-file a img {
    max-height: 200px;
    max-width: 200px;
}

.product-data {
    display: flex;
    flex-flow: column nowrap;
}

.product-all-data{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.comments {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.comment_list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.comment_list .comment {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    padding: 10px;
}

.comment_list .comment p {
    color: var(--color2);
}

.comment_list .comment img {
    width: 200px;
    height: 200px;
}

.to_comment_form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.to_comment_form .input-div {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.to_comment_form .input-div label {
    color: var(--color1);
}

.to_comment_form .input-div input {
    color: var(--color2);
    border: none;
    width: 100%;
}

.to_comment_form .comment_btn {
    background-color: var(--color1);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
    transition: .1s;
    font-size: 1.25rem;
}

.to_comment_form .comment_btn:hover {
    background-color: var(--color2);
}