:root {
    --color1: #52339A;
    --color2: #05B1B1;
    --button-active: #08dfdf;
}

.product {

    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.product .actions {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px var(--color2);
    border-radius: 10px;
}

.product .media {
    width: 340px;
    height: 255px;
}

.product .actions .cart-actions {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
}

.product .actions .cart-actions .price {
    font-size: 1.25rem;
}

.product .actions .cart-actions .add-to-favorite {
    background-color: var(--color1);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
    transition: .1s;
    font-size: 1.25rem;
}

.product .actions .cart-actions .add-to-favorite:hover {
    background-color: var(--color2);
}

.product .actions .cart-actions .add-to-cart {
    background-color: var(--color2);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
    transition: .1s;
    font-size: 1.25rem;
}

.product .actions .cart-actions .add-to-cart:hover {
    background-color: var(--color1);
}

.product .data {
    width: 100%;
}

.comments-media-div {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    overflow: scroll;
}

.comment-media-file {}

.comment-media-file a img {
    height: 150px;
    width: 200px;
}

.product-data {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 1px 1px 4px var(--color2);
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}

.product-data .product-properties{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.product-data .product-properties .group{
    
}

.product-data .product-properties .group .property{

}

.product-extend-data {
    display: flex;
    flex-flow: column;
    width: 100%;

}

.comments {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.comment_list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.comment_list .comment {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 1px 1px 4px var(--color2);
    border-radius: 10px;
    padding: 10px;
}

.comment_list .comment p {
    color: var(--color2);
}

.comment_list .comment .media-files {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    overflow: scroll;
    margin: 10px 0;
}

.comment_list .comment .media-files img {
    height: 150px;
    width: 200px;
}

.to_comment_form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    box-shadow: 1px 1px 4px var(--color2);
    border-radius: 10px;
    padding: 10px;
}

.to_comment_form .input-div {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    position: relative;
    width: fit-content;
}

.to_comment_form .input-div label {
    color: var(--color1);
}

.to_comment_form .input-div select,
.to_comment_form .input-div textarea {
    border: 1px solid var(--color1);
    width: 300px;
    font-size: 1rem;
    color: var(--color2);
    background: none;
}

.to_comment_form .input-div #comment_image {
    cursor: pointer;
    width: fit-content;
}

.to_comment_form .input-div input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
}

.to_comment_form .comment_btn {
    background-color: var(--color1);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
    transition: .1s;
    font-size: 1.25rem;
}

.to_comment_form .comment_btn:hover {
    background-color: var(--color2);
}