.meta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
}

.data {
    display: flex;
    flex-flow: row wrap;
}

.data .aside {
    width: 320px;
    flex-grow: 0;
    padding: 10px;
}

.data .main {
    min-width: 320px;
    flex-grow: 1;
    padding: 10px;
}